<?xml version="1.0"?>

<model>
  <name>matterport</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Matterport3D</name>
    <email>matterport3d@googlegroups.com</email>
  </author>

  <description>
    Matterport3D Photorealistic Model
  </description>

</model>
